# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
media/
staticfiles/
static_root/

# Environment / Secret Keys
.python-version
.venv
env/
ENV/

# OS
.DS_Store
Thumbs.db

# Render & Build
build.sh